div.MenuToggle a img {
	max-width: 42px;
	width: 42px;
	height: 42px;
}
.hs-cta-wrapper img {
	height: auto !important;
}
.fb-like-box, .fb-like-box * {
	width: 100% !important;
}
.twitter-timeline.twitter-timeline-rendered {
	width: 100%;
}
.ektron-smallest {
	font-size: 70.588235294%;
}
.ektron-smaller {
	font-size: 82.352941176%;
}
.ektron-small {
	font-size: 94.117647059%;
}
.ektron-normal {
	font-size: 17px;
}
.ektron-large {
	font-size: 111.764705882%;
}
.ektron-larger {
	font-size: 141.176470588%;
}
.ektron-smallest-line-height {
	line-height: 70.588235294%;
}
.ektron-smaller-line-height {
	line-height: 82.352941176%;
}
.ektron-small-line-height {
	line-height: 94.117647059%;
}
.ektron-normal-line-height {
	line-height: 17px;
}
.ektron-large-line-height {
	line-height: 111.764705882%;
}
.ektron-larger-line-height {
	line-height: 141.176470588%;
}
.ektron-blue {
	color: #0a73b9;
}
.ektron-dark-blue {
	color: #0d436e;
}
.ektron-light-blue {
	color: #58a4d4;
}
.ektron-grey {
	color: #bfbfbf;
}
.ektron-mid-grey {
	color: #666;
}
.ektron-dark-grey {
	color: #252525;
}
.ektron-light-grey {
	color: #eee;
}
.ektron-body-grey {
	color: #868686;
}
.ektron-orange {
	color: #f9ab3b;
}
.ektron-center {
	text-align: center;
}
.ektron-left {
	text-align: left;
}
.ektron-right {
	text-align: right;
}
.ektron-pull-right {
	float: right;
	padding: 0 0 5px 5px;
}
.ektron-pull-left {
	float: left;
	padding: 0 5px 5px 0;
}
.ektron-caps {
	text-transform: uppercase;
	letter-spacing: 0.035em;
}
.ektron-bold {
	font-weight: bold;
}
.ektron-block {
	display: block;
}
.ektron-no-wrap {
	white-space: nowrap;
}
.ektron-float-container {
	overflow: hidden;
}
.ektron-tri-corner {
	padding-top: 130px;
	border-radius: 0 25px 25px 25px;
	border: 1px solid #eee;
	position: relative;
	display: inline-block;
	background: white;
}
.ektron-promo img.ektron-full-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.ektron-promo img.ektron-break-left-margin {
	margin-left: -1.014044944%;
	max-width: 101.4044943820225%;
	width: 101.4044943820225%;
}
.ektron-grey-gradient {
	background: #dbdbdb;
	background: -moz-linear-gradient(top,#dbdbdb 0%,#fff 50%,#dbdbdb 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dbdbdb),color-stop(50%,#fff),color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top,#dbdbdb 0%,#fff 50%,#dbdbdb 100%);
	background: -o-linear-gradient(top,#dbdbdb 0%,#fff 50%,#dbdbdb 100%);
	background: -ms-linear-gradient(top,#dbdbdb 0%,#fff 50%,#dbdbdb 100%);
	background: linear-gradient(to bottom,#dbdbdb 0%,#fff 50%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb',endColorstr='#dbdbdb',GradientType=0);
}
.ektron-grey-gradient-vertical-offset {
	background: #dbdbdb;
	background: -moz-linear-gradient(top,#dbdbdb 0%,#fff 75%,#dbdbdb 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dbdbdb),color-stop(75%,#fff),color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top,#dbdbdb 0%,#fff 75%,#dbdbdb 100%);
	background: -o-linear-gradient(top,#dbdbdb 0%,#fff 75%,#dbdbdb 100%);
	background: -ms-linear-gradient(top,#dbdbdb 0%,#fff 75%,#dbdbdb 100%);
	background: linear-gradient(to bottom,#dbdbdb 0%,#fff 75%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb',endColorstr='#dbdbdb',GradientType=0);
}
.ektron-icon-background {
	background: transparent url(../images/Ektron-Icon-BG.jpg) center bottom no-repeat;
}
.ektron-inner-shadow, .ektron-inner-shadow-bottom, .ektron-inner-shadow-top {
	position: relative;
	overflow: hidden;
}
.ektron-inner-shadow:before, .ektron-inner-shadow:after, .ektron-inner-shadow-bottom:after, .ektron-inner-shadow-top:before {
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 1;
	-webkit-box-shadow: -1px 0 4px 3px #bfbfbf;
	box-shadow: -1px 0 4px 3px #bfbfbf;
}
.ektron-inner-shadow:after, .ektron-inner-shadow-bottom:after {
	top: inherit;
	bottom: -10px;
}
.ektron-inner-shadow-padding {
	padding: 5px 0;
}
.ektron-transparent-center-gradient {
	background: #fff;
	background: -moz-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 600px);
	background: -webkit-gradient(radial,center center,0px,center center,600px,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#fff));
	background: -webkit-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 600px);
	background: -o-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 600px);
	background: -ms-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 600px);
	background: radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 600px);
	background-repeat: no-repeat;
}
.ektron-border-left {
	border-left: 1px solid #999;
}
.ektron-partial-border-left, .ektron-partial-border-right, .ektron-partial-border {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#bfbfbf),to(#bfbfbf));
	background-image: -webkit-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: -moz-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: -o-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: linear-gradient(#bfbfbf,#bfbfbf);
	-moz-background-size: 1px 70%;
	background-size: 1px 70%;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
.ektron-partial-border-right {
	background-position: 100% 50%;
}
.ektron-partial-border {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#bfbfbf),to(#bfbfbf)),-webkit-gradient(linear,0 0,0 100%,from(#bfbfbf),to(#bfbfbf));
	background-image: -webkit-linear-gradient(#bfbfbf,#bfbfbf),-webkit-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: -moz-linear-gradient(#bfbfbf,#bfbfbf),-moz-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: -o-linear-gradient(#bfbfbf,#bfbfbf),-o-linear-gradient(#bfbfbf,#bfbfbf);
	background-image: linear-gradient(#bfbfbf,#bfbfbf),linear-gradient(#bfbfbf,#bfbfbf);
	background-position: 0 50%,100% 50%;
}
.ektron-overflow-hidden {
	overflow: hidden;
}
.ektron-relative {
	position: relative;
	z-index: 100;
}
.ektron-left-brace {
	padding-left: 25px;
	background: transparent url(../images/LeftBrace.png) left center no-repeat;
	min-height: 267px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ektron-box-highlight {
	padding: 0 10px;
	background: #f7f2ea;
}
.ektron-padding-medium {
	padding: 10px;
}
.ektron-padding-medium-vertical {
	padding: 10px 0;
}
.ektron-small-padding {
	padding: 5px;
}
.ektron-small-vertical-padding {
	padding-top: 5px;
	padding-bottom: 5px;
}
.ektron-small-horizontal-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.ektron-small-right-padding {
	padding-right: 5px;
}
.ektron-small-left-padding {
	padding-left: 5px;
}
.ektron-small-bottom-padding {
	padding-bottom: 5px;
}
.ektron-small-top-padding {
	padding-top: 5px;
}
.ektron-med-padding {
	padding: 10px;
}
.ektron-med-vertical-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}
.ektron-med-horizontal-padding {
	padding-left: 10px;
	padding-right: 10px;
}
.ektron-med-right-padding {
	padding-right: 10px;
}
.ektron-med-left-padding {
	padding-left: 10px;
}
.ektron-med-bottom-padding {
	padding-bottom: 10px;
}
.ektron-med-top-padding {
	padding-top: 10px;
}
.ektron-medlarge-padding {
	padding: 15px;
}
.ektron-medlarge-vertical-padding {
	padding-top: 15px;
	padding-bottom: 15px;
}
.ektron-medlarge-horizontal-padding {
	padding-left: 15px;
	padding-right: 15px;
}
.ektron-medlarge-right-padding {
	padding-right: 15px;
}
.ektron-medlarge-left-padding {
	padding-left: 15px;
}
.ektron-medlarge-bottom-padding {
	padding-bottom: 15px;
}
.ektron-medlarge-top-padding {
	padding-top: 15px;
}
.ektron-large-padding {
	padding: 20px;
}
.ektron-large-vertical-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}
.ektron-large-horizontal-padding {
	padding-left: 20px;
	padding-right: 20px;
}
.ektron-large-right-padding {
	padding-right: 20px;
}
.ektron-large-left-padding {
	padding-left: 20px;
}
.ektron-large-bottom-padding {
	padding-bottom: 20px;
}
.ektron-large-top-padding {
	padding-top: 20px;
}
.ektron-huge-bottom-padding {
	padding-bottom: 30px;
}
.ektron-huge-top-padding {
	padding-top: 30px;
}
.ektron-mega-bottom-padding {
	padding-bottom: 45px;
}
.ektron-mega-top-padding {
	padding-top: 45px;
}
.ektron-auto-medium-vertical-padding .PBItem {
	padding-top: 10px;
	padding-bottom: 10px;
}
.ektron-small-margin {
	margin: 5px;
}
.ektron-small-vertical-margin {
	margin-top: 5px;
	margin-bottom: 5px;
}
.ektron-small-horizontal-margin {
	margin-left: 5px;
	margin-right: 5px;
}
.ektron-small-left-margin {
	margin-left: 5px;
}
.ektron-small-bottom-margin {
	margin-bottom: 5px;
}
.ektron-med-margin {
	margin: 10px;
}
.ektron-med-vertical-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}
.ektron-med-horizontal-margin {
	margin-left: 10px;
	margin-right: 10px;
}
.ektron-med-left-margin {
	margin-left: 10px;
}
.ektron-med-bottom-margin {
	margin-bottom: 10px;
}
.ektron-large-margin {
	margin: 20px;
}
.ektron-large-vertical-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.ektron-large-horizontal-margin {
	margin-left: 20px;
	margin-right: 20px;
}
.ektron-large-left-margin {
	margin-left: 20px;
}
.ektron-large-bottom-margin {
	margin-bottom: 20px;
}
.ektron-shadow {
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
}
.ektron-bottom-right-corner {
	position: absolute;
	bottom: 7px;
	right: 7px;
	z-index: 1;
}
.caret-white {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-top: 8px;
	margin-left: 2px;
}
body {
	font-size: 17px;
	font-family: Century Gothic,Helvetica,Arial,Sans-Serif;
}
body>form {
	margin: 0;
	padding: 0;
}
a:link, a:active {
	color: #0073b9;
	text-decoration: none;
}
a:hover {
	color: #0095db;
	text-decoration: underline;
}
a:visited {
	color: #0095db;
}
video {
	max-width: 100%;
	width: 100%;
}
iframe {
	border: 0;
}
.ektron-header {
	background: white;
}
.ektron-header input {
	margin-bottom: 0;
}
.ektron-header .ektron-header-utility {
	height: 40px;
	overflow: visible;
}
.ektron-header .ektron-header-utility .brand {
	margin-left: 1.709401709401709%;
	display: block;
}
.ektron-header .ektron-header-utility .brand figure {
	margin: 0;
	float: left;
}
.ektron-header .ektron-header-utility .ektron-rounded-input {
	border-radius: 20px;
	height: 15px;
	font-size: 70.588235294%;
	line-height: 18px;
	margin-top: 8px;
	padding-right: 25px;
	padding-left: 15px;
}
.ektron-header .ektron-header-utility .ektron-inset-btn {
	margin-left: -30px;
	margin-top: 8px;
}
.ektron-header .ektron-header-utility .ektron-utility-nav {
	float: right;
	margin-right: 15px;
}
.ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link {
	float: left;
	padding: 10px;
	font-size: 82.352941176%;
}
.ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link a {
	color: #eee;
}
.ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link .ektron-utility-dropdown {
	z-index: 10000;
}
.ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link .ektron-utility-dropdown a:link, .ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link .ektron-utility-dropdown a:visited, .ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link .ektron-utility-dropdown a:active {
	color: #0a73b9;
}
.ektron-header .ektron-header-utility .ektron-utility-nav .ektron-utility-link .ektron-utility-dropdown a:hover {
	color: white;
}
.ektron-header .ektron-header-navigation {
	position: relative;
	margin-top: 49px;
}
.ektron-header .ektron-header-navigation ul.ektron-nav {
	bottom: 0;
}
.ektron-header .ektron-header-navigation ul.ektron-nav>li {
	float: left;
	list-style: none;
	display: block;
}
.ektron-header .ektron-header-navigation ul.ektron-nav>li>a:link, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a:visited {
	color: #666;
	padding: 8px 2px 3px 12px;
	margin: 0 0 0 18px;
	display: block;
	font-size: 111.764705882%;
	text-decoration: none;
	font-weight: normal;
}
.ektron-header .ektron-header-navigation ul.ektron-nav>li>a:hover, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a:active, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a.open, .ektron-header .ektron-header-navigation ul.ektron-nav>li.active>a {
	color: #0a73b9;
	background-image: -moz-linear-gradient(left,#0d436e 0%,#58a4d4 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#0d436e),color-stop(100%,#58a4d4));
	background-image: -webkit-linear-gradient(left,#0d436e 0%,#58a4d4 100%);
	background-image: -o-linear-gradient(left,#0d436e 0%,#58a4d4 100%);
	background-image: -ms-linear-gradient(left,#0d436e 0%,#58a4d4 100%);
	background-image: linear-gradient(to right,#0d436e 0%,#58a4d4 100%);
	-moz-background-size: 100% 2px;
	background-size: 100% 2px;
	background-position: 0 100%;
	background-repeat: no-repeat;
}
.ektron-header .ektron-header-navigation ul.ektron-nav>li>a:focus {
	outline: none;
	-moz-outline-style: none;
}
.ektron-header .ektron-header-navigation .ektron-navigation-container {
	position: relative;
	border-bottom: 1px solid #bfbfbf;
}
.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-navigation-search {
	display: none;
}
.ektron-header .ektron-header-navigation .ektron-navigation-container:after {
	clear: both;
}
.ektron-header .ektron-header-navigation .ektron-navigation-container:before, .ektron-header .ektron-header-navigation .ektron-navigation-container:after {
	content: "";
	display: table;
	line-height: 0;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse {
	width: 940px;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav {
	margin: 0;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown {
	position: static;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu {
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #bfbfbf;
	border-width: 0 0 1px 0;
	width: 100%;
	display: none;
	float: left;
	left: 0;
	list-style: none outside none;
	position: absolute;
	top: 100%;
	z-index: 1000;
	background: #e9e9e9;
	background-size: 8px 8px;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul {
	list-style: none;
	margin: 0 15px 0 0;
	display: inline-block;
	float: left;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:link, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:active, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:visited {
	display: block;
	padding: 5px 0;
	color: #666;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:link span, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:active span, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:visited span {
	margin-right: 8px;
	opacity: 0.25;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:hover, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a.active {
	color: #0a73b9;
	text-decoration: none;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a:hover span, .ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu ul li a.active span {
	opacity: 1;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-left .ektron-menu-left-header {
	font-size: 84%;
	color: #bbb;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-left .ektron-menu-left-cta {
	margin-bottom: 2em;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-left .ektron-menu-left-cta-title {
	color: #0a73b9;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 0.03em;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-left .ektron-menu-left-cta-description {
	color: #666;
	font-size: 83%;
	font-weight: normal;
	letter-spacing: 0.02em;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-middle-heading {
	color: #ccc;
	font-size: 141.176470588%;
	margin-bottom: 0.75em;
	text-transform: uppercase;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-right {
	padding: 1em 0;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-right .ektron-menu-right-title {
	background: #0a73b9;
	-webkit-box-shadow: 1px 1px 5px 0 #777;
	box-shadow: 1px 1px 5px 0 #777;
	color: #fff;
	display: inline-block;
	font-size: 141.176470588%;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 10px 15px 11px 42px;
	line-height: 1em;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-right .ektron-menu-right-description {
	color: #666;
	letter-spacing: 0.02em;
	line-height: 1.3em;
	margin-bottom: 0.8em;
	margin-left: 31px;
}
.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-right .ektron-menu-right-button {
	margin-left: 31px;
}
a.ektron-btn, .ektron-btn a {
	display: inline-block;
	height: 29px;
	border: 1px solid #f9ab3b;
	border-radius: 29px;
	line-height: 29px;
	padding: 0 14.5px;
	color: white;
	text-decoration: none;
	background: #252525;
	font-weight: bold;
	margin: 0 7px 7px 0;
}
a.ektron-btn:hover, .ektron-btn a:hover {
	border-color: #58a4d4;
	text-decoration: none;
	color: White;
	background: #525051;
	background: -moz-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#525051),color-stop(50%,#525051),color-stop(50%,#312f30),color-stop(100%,#312f30));
	background: -webkit-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -o-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -ms-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: linear-gradient(to bottom,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	-moz-box-shadow: inset 0 3px 4px 0 black;
	-webkit-box-shadow: inset 0 3px 4px 0 black;
	box-shadow: inset 0 3px 4px 0px black;
}
a.ektron-btn-large, .ektron-btn-large a {
	height: 42px;
	border-radius: 42px;
	padding: 0 21px;
	line-height: 42px;
	text-transform: uppercase;
	font-weight: bold;
	border-width: 3px;
	font-size: 141.176470588%;
}
a.ektron-btn-small, .ektron-btn-small a {
	height: 21px;
	border-radius: 21px;
	padding: 0 11px;
	line-height: 20px;
	font-size: 82.352941176%;
}
a.ektron-btn-invert, .ektron-btn-invert a {
	border-color: #58a4d4;
	background: #252525;
	-moz-box-shadow: inset 0 3px 4px 0 black;
	-webkit-box-shadow: inset 0 3px 4px 0 black;
	box-shadow: inset 0 3px 4px 0px black;
}
a.ektron-btn-invert:hover, .ektron-btn-invert a:hover {
	-moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
	background: #525051;
	background: -moz-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#525051),color-stop(50%,#525051),color-stop(50%,#312f30),color-stop(100%,#312f30));
	background: -webkit-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -o-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -ms-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: linear-gradient(to bottom,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
}
.ektron-btn-convert-1, .ektron-btn-convert-2, .ektron-btn-convert-3 {
	position: relative;
}
.ektron-btn-convert-1 {
	text-align: right;
}
.ektron-btn-convert-3 {
	text-align: center;
}
.ektron-btn-convert-1 a, .ektron-btn-convert-2 a, .ektron-btn-convert-3 a {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 42px;
	padding: 0 21px;
	margin: 17px 0;
	color: white;
	background: #252525;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	border: 2px solid #f9ab3b;
	text-decoration: none;
	z-index: 200;
	position: relative;
}
.ektron-btn-convert-1 a, .ektron-btn-convert-3 a {
	border-color: #58a4d4;
	-moz-box-shadow: inset 0 3px 4px 0 black;
	-webkit-box-shadow: inset 0 3px 4px 0 black;
	box-shadow: inset 0 3px 4px 0px black;
}
.ektron-btn-convert-1 a:hover, .ektron-btn-convert-2 a:hover, .ektron-btn-convert-3 a:hover {
	border-color: #58a4d4;
	background: #525051;
	background: -moz-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#525051),color-stop(50%,#525051),color-stop(50%,#312f30),color-stop(100%,#312f30));
	background: -webkit-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -o-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: -ms-linear-gradient(top,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	background: linear-gradient(to bottom,#525051 0%,#525051 50%,#312f30 50%,#312f30 100%);
	-moz-box-shadow: inset 0 3px 4px 0 black;
	-webkit-box-shadow: inset 0 3px 4px 0 black;
	box-shadow: inset 0 3px 4px 0px black;
}
.ektron-btn-convert-1 a:hover, .ektron-btn-convert-3 a:hover {
	-moz-box-shadow: inset 0 3px 4px 0 #000,2px 2px 8px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 3px 4px 0 #000,2px 2px 8px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0 3px 4px 0 #000,2px 2px 8px 1px rgba(0,0,0,0.5);
}
.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after, .ektron-btn-convert-2 a:after, .ektron-btn-convert-2 a:hover:after {
	display: block;
	position: absolute;
	color: #959595;
	font-size: 21px;
	text-transform: none;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	right: -294px;
	top: -6px;
	width: 175px;
	z-index: 0;
}
.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after {
	text-align: right;
	left: -294px;
	color: #0a73b9;
}
.ektron-btn-convert-1 a:hover:after, .ektron-btn-convert-2 a:hover:after {
	color: #0a73b9;
}
.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before, .ektron-btn-convert-2 a:before, .ektron-btn-convert-2 a:hover:before {
	position: absolute;
	width: 120px;
	height: 70px;
	content: "";
	right: -122px;
	top: -14px;
	background: transparent url(../images/InactiveLineBraceRight.png) left center no-repeat;
	z-index: 0;
	overflow: hidden;
}
.ektron-btn-convert-2 a:hover:before {
	background: transparent url(../images/ActiveLineBraceRight.png) left center no-repeat;
}
.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before {
	background: transparent url(../images/ActiveLineBraceLeft.png) right center no-repeat;
	left: -122px;
}
.ektron-btn-convert-1 a:hover:before {
	background: transparent url(../images/ActiveLineBraceLeft.png) right center no-repeat;
}
.ektron-black-texture {
	background: #353230 url(../images/MottledBlackBG.jpg) left top repeat;
	color: White;
}
.ektron-fixed-top {
	position: fixed;
	top: 0;
	width: inherit;
}
ul.ektron-body-nav {
	margin-top: 10px;
	list-style: none outside none;
	margin-left: 0;
	margin-bottom: 20px;
}
ul.ektron-body-nav li {
	line-height: 25px;
}
ul.ektron-body-nav li a:link, ul.ektron-body-nav li a:visited {
	font-weight: normal;
	font-size: 82.352941176%;
	display: block;
	padding: 5px 3px;
	color: #2f3941;
	text-indent: -38px;
	margin-left: 38px;
	line-height: 1em;
	text-transform: uppercase;
}
ul.ektron-body-nav li a:link span, ul.ektron-body-nav li a:visited span {
	padding-right: 10px;
	opacity: 0.25;
}
ul.ektron-body-nav li a:active, ul.ektron-body-nav li a:hover, ul.ektron-body-nav li a.active {
	color: #0a73b9;
}
ul.ektron-body-nav li a:active span, ul.ektron-body-nav li a:hover span, ul.ektron-body-nav li a.active span {
	opacity: 1;
}
ul.ektron-body-nav li a.no-image:link, ul.ektron-body-nav li a.no-image:visited {
	text-indent: -14px;
}
ul.ektron-body-nav li ul {
	margin-left: 40px;
}
ul.ektron-body-nav li ul li {
	list-style: none outside none;
	line-height: 0.75em;
}
ul.ektron-body-nav li ul li a:link, ul.ektron-body-nav li ul li a:visited {
	text-indent: 0;
	line-height: 1.25em;
	margin: 0;
	color: #666;
	font-size: 70.588235294%;
	text-transform: none;
}
ul.ektron-body-nav li ul li a:active, ul.ektron-body-nav li ul li a:hover, ul.ektron-body-nav li ul li a.active {
	color: #0a73b9;
}
.ektron-content {
	color: #868686;
	min-height: 590px;
	line-height: 1.5em;
}
.ektron-content h1, .ektron-content h2, .ektron-content h3, .ektron-content h4, .ektron-content h5, .ektron-content h6 {
	color: #2f3941;
}
.ektron-content h1, .ektron-content h2 {
	text-transform: uppercase;
}
.ektron-content h1 span {
	margin-top: -0.5em;
}
.ektron-content h2 {
	font-size: 30px;
}
.ektron-content h3 {
	font-size: 24px;
	line-height: 30px;
}
.ektron-content h3 span {
	margin-top: -0.5em;
}
.ektron-content h4 {
	font-size: 18px;
}
.ektron-content p, .ektron-content ul {
	margin-bottom: 1em;
}
.ektron-content li {
	margin-bottom: 0.5em;
}
.ektron-form-full-width select, .ektron-form-full-width input {
	width: 100%;
}
.ektron-quote {
	font-size: 70.588235294%;
	color: #2f3941;
	margin-bottom: 1em;
}
.ektron-quote strong {
	font-size: 17px;
	font-weight: bold;
	color: #0a73b9;
}
.ektron-featured-item {
	overflow: hidden;
	position: relative;
	margin: 0 0 50px 0;
}
.ektron-featured-item .ektron-subtext {
	color: #868686;
}
.ektron-featured-item .ektron-teaser {
	overflow: hidden;
	position: relative;
}
.ektron-featured-item .ektron-image-Left {
	padding-left: 50%;
}
.ektron-featured-item .ektron-image-Left .ektron-image {
	float: left;
	margin-left: -100%;
	max-width: 90%;
}
.ektron-featured-item .ektron-image-Right {
	padding-right: 50%;
}
.ektron-featured-item .ektron-image-Right .ektron-image {
	float: right;
	margin-right: -100%;
	max-width: 90%;
}
.ektron-featured-item .ektron-features ul {
	color: #0a73b9;
}
.ektron-featured-item .ektron-features li span {
	color: #2f3941;
}
.ektron-social-bar {
	margin-top: 20px;
	overflow: hidden;
}
.ektron-social-bar div {
	float: left;
	margin-right: 10px;
	height: 20px;
}
.ektron-social-bar .ektron-facebook-share {
	width: 70px;
}
.ektron-social-bar .ektron-facebook-share .fb_edge_widget_with_comment {
	position: static;
}
.ektron-social-bar .ektron-facebook-share .fb_iframe_widget {
	position: static;
}
.ektron-social-bar .ektron-facebook-share .fb_iframe_widget span {
	position: static;
}
.ektron-summary-block {
	margin: 20px 0;
}
.ektron-summary-block .ektron-author {
	margin-bottom: 20px;
	overflow: hidden;
	padding-left: 100px;
}
.ektron-summary-block .ektron-author .ektron-image {
	float: left;
	margin-left: -100px;
	max-width: 75px;
	text-align: center;
}
.ektron-summary-block .ektron-author .ektron-image img {
	max-width: 100%;
}
.ektron-summary-block .ektron-summary {
	overflow: hidden;
	padding-right: 300px;
	margin-bottom: 20px;
}
.ektron-summary-block .ektron-summary .ektron-summary-image {
	float: right;
	margin-right: -287.5px;
	width: 275px;
	text-align: center;
}
.ektron-summary-block .ektron-summary .ektron-summary-image img {
	max-width: 100%;
}
.ektron-summary-block .ektron-summary.ektron-small-summary-image {
	padding-right: 150px;
}
.ektron-summary-block .ektron-summary.ektron-small-summary-image .ektron-summary-image {
	margin-right: -150px;
	width: 130px;
}
.ektron-summary-block .ektron-summary-full {
	margin-bottom: 20px;
}
.ektron-summary-block .ektron-additional-info {
	font-size: 82.352941176%;
	font-style: italic;
}
.ektron-split-column {
	padding-right: 180px;
}
.ektron-split-column .ektron-right-column {
	float: right;
	margin-right: -180px;
}
ul.ektron-photoswipe {
	list-style: none;
	margin: 0;
}
.ektron-photoswipe-trigger img {
	border-radius: 10px;
}
.ektron-photoswipe-trigger {
	display: block;
	position: relative;
}
.ektron-photoswipe-trigger:before {
	color: White;
	content: "View Gallery";
	display: block;
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
	opacity: 1;
	margin: 25% 0;
	font-weight: bold;
}
.ektron-photoswipe-trigger:after {
	background: #555;
	border-radius: 10px;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 1;
}
.ektron-bc-container {
	width: 100%;
	margin-bottom: 10px;
	float: none;
}
.ektron-bc-wrapper {
	position: relative;
	padding-top: 1px;
	padding-bottom: 0;
	height: auto;
}
.ektron-bc-wrapper.ektron-video {
	height: 0;
	padding-bottom: 56.25%;
}
.ektron-bc-wrapper>img {
	display: block;
}
.ektron-bc-wrapper div, .ektron-bc-wrapper embed, .ektron-bc-wrapper object, .ektron-bc-wrapper .BrightcoveExperience {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
ul.ektron-video-links {
	display: block;
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
}
ul.ektron-video-links li {
	float: left;
	font-size: 70.588235294%;
	margin: 0 2% 0 0;
	text-align: center;
	max-width: 23%;
	min-width: 120px;
}
ul.ektron-video-links li a, ul.ektron-video-links li a:hover {
	text-decoration: none;
	display: inline-block;
}
ul.ektron-video-links li a img, ul.ektron-video-links li a:hover img {
	height: 90px;
	width: 100%;
	max-width: 100%;
}
ul.ektron-video-links li a span, ul.ektron-video-links li a:hover span {
	display: block;
}
.ektron-fluid-table .ektron-cell {
	display: inline-block;
	text-align: center;
	margin: 20px;
	width: 148.5px;
}
footer {
	background: #1d1a18;
	color: #ddd;
}
footer h2 {
	font-size: 111.764705882%;
}
footer a, footer a:link, footer a:visited {
	color: #ddd;
	text-decoration: underline;
	font-weight: normal;
}
footer a:hover, footer a:active {
	color: #58a4d4;
	text-decoration: none;
}
footer .ektron-footer-logo {
	margin-bottom: 20px;
}
footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading {
	color: #eee;
	font-size: 14px;
	font-weight: bold;
}
footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading ul {
	margin-left: 10px;
}
footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading ul li {
	line-height: 1em;
}
footer .ektron-resource-wrapper .ektron-resources:first-child ul li.ektron-resource-heading ul li {
	padding-bottom: 0.5em;
}
footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading li a, footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading li a:link, footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading li a:visited {
	color: #ddd;
	text-transform: none;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading li a:hover, footer .ektron-resource-wrapper .ektron-resources ul li.ektron-resource-heading li a:active {
	color: #58a4d4;
	text-decoration: underline;
}
footer .ektron-social-links {
	overflow: hidden;
}
footer .ektron-social-link {
	padding-right: 5px;
	float: left;
}
footer .ektron-social-link a {
	opacity: 0.25;
}
footer .ektron-social-link a:hover {
	opacity: 1;
}
@media (min-width:1200px) {
	.ektron-header .ektron-header-navigation .ektron-nav-collapse {
		width: 1170px;
	}
}
@media (min-width:980px) {
	.ektron-header .ektron-header-navigation .ektron-nav-collapse {
		display: block !important;
	}
}
@media (min-width:980px) and (max-width:1199px) {
	.ektron-940-huge-horizontal-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
	.ektron-left-brace {
		padding: 0;
		background: none;
		min-height: inherit;
		margin: 0;
	}
}
@media (max-width:1199px) {
	.ektron-header .brand {
		margin-left: 2.7%;
	}
	.ektron-header .ektron-header-navigation .ektron-nav-collapse {
		width: 940px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after, .ektron-btn-convert-2 a:after, .ektron-btn-convert-2 a:hover:after {
		font-size: 21px;
		right: -274px;
		top: -5px;
		width: 175px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after {
		left: -274px;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before, .ektron-btn-convert-2 a:before, .ektron-btn-convert-2 a:hover:before {
		width: 100px;
		right: -102px;
		top: -13px;
		background-position: right center;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before {
		left: -102px;
		width: 100px;
		background-position: left center;
	}
	footer .ektron-footer-content p {
		font-size: 94.117647059%;
	}
	.ektron-940-half {
		width: 460px;
	}
	.ektron-940-full {
		width: 940px;
	}
}
@media (max-width:979px) {
	.ektron-header .ektron-header-utility .brand {
		margin-left: 3.709401709401709%;
	}
	.ektron-header .ektron-header-navigation ul.ektron-nav>li>a:link, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a:visited {
		font-size: 16px;
	}
	.ektron-header .ektron-header-navigation ul.ektron-nav>li>a:hover, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a:active, .ektron-header .ektron-header-navigation ul.ektron-nav>li>a.open {
		background-image: none;
	}
	.ektron-header .ektron-header-navigation .ektron-nav-collapse {
		width: auto;
		max-width: 724px;
		height: auto;
	}
	.ektron-transparent-center-gradient {
		background: #fff;
		background: -moz-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 300px);
		background: -webkit-gradient(radial,center center,0px,center center,300px,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#fff));
		background: -webkit-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 300px);
		background: -o-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 300px);
		background: -ms-radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 300px);
		background: radial-gradient(50% 50%,circle,rgba(255,255,255,0) 0,#fff 300px);
	}
	.ektron-btn-convert-1 a, .ektron-btn-convert-2 a, .ektron-btn-convert-3 a {
		height: 34px;
		line-height: 35px;
		border-radius: 35px;
		padding: 0 15px;
		margin: 17px 0;
		font-size: 19.2px;
	}
	.ektron-btn-convert-3 a {
		font-size: 17px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after, .ektron-btn-convert-2 a:after, .ektron-btn-convert-2 a:hover:after {
		font-size: 17px;
		right: -189px;
		top: -5px;
		width: 130px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after {
		left: -189px;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before, .ektron-btn-convert-2 a:before, .ektron-btn-convert-2 a:hover:before {
		width: 56px;
		right: -58px;
		top: -18px;
		background: transparent url(../images/InactiveLineBraceRight-Small.png) right center no-repeat;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before {
		left: -58px;
		width: 56px;
		background: transparent url(../images/ActiveLineBraceLeft-Small.png) left center no-repeat;
		top: -16px;
	}
	.ektron-btn-convert-2 a:hover:before {
		background: transparent url(../images/ActiveLineBraceRight-Small.png) right center no-repeat;
	}
	.ektron-btn-convert-1 a:hover:before {
		background: transparent url(../images/ActiveLineBraceLeft-Small.png) left center no-repeat;
	}
	.ektron-product-resource .ektron-product-image-Left {
		padding-left: 0;
	}
	.ektron-product-resource .ektron-product-image-Left .ektron-product-image {
		float: none;
		margin-left: 0;
		max-width: 90%;
		text-align: center;
	}
	.ektron-product-resource .ektron-product-image-Right {
		padding-right: 0;
	}
	.ektron-product-resource .ektron-product-image-Right .ektron-product-image {
		float: none;
		margin-right: 0;
		max-width: 90%;
		text-align: center;
	}
	.ektron-product-resource .ektron-product-features ul {
		color: #0a73b9;
	}
	.ektron-product-resource .ektron-product-features li span {
		color: #2f3941;
	}
	.ektron-featured-item .ektron-image-Left {
		padding-left: 0;
	}
	.ektron-featured-item .ektron-image-Left .ektron-image {
		float: none;
		margin-left: 0;
	}
	.ektron-featured-item .ektron-image-Right {
		padding-right: 0;
	}
	.ektron-featured-item .ektron-image-Right .ektron-image {
		float: none;
		margin-right: 0;
	}
	.ektron-summary-block .ektron-summary {
		padding-right: 200px;
	}
	.ektron-summary-block .ektron-summary .ektron-summary-image {
		margin-right: -187.5px;
		width: 175px;
	}
	footer .ektron-footer-content h2 {
		font-size: 94.117647059%;
	}
	footer .ektron-footer-content p {
		font-size: 70.588235294%;
	}
	.ektron-724-span4 {
		width: 228px;
	}
	.ektron-724-span5 {
		width: 290px;
	}
	.ektron-724-span6 {
		width: 352px;
	}
	.ektron-724-span7 {
		width: 414px;
	}
	.ektron-724-span8 {
		width: 476px;
	}
	.ektron-724-span12 {
		width: 724px;
	}
	.ektron-724-small-horizontal-padding {
		padding-left: 5px;
		padding-right: 5px;
	}
	.ektron-724-med-padding {
		padding: 10px;
	}
	.ektron-724-larger {
		font-size: 111.764705882%;
	}
	.ektron-724-float-widgets-50 {
		overflow: hidden;
	}
	.ektron-724-float-widgets-50 li.PBItem {
		width: 352px;
		float: left;
	}
	.ektron-724-float-widgets-50 li.PBItem>div {
		margin-left: 20px;
	}
	.ektron-724-float-widgets-50 li.PBItem:first-child>div {
		margin-left: 0px;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.ektron-header .ektron-header-navigation .ektron-nav-collapse .ektron-nav .ektron-navigation-dropdown .ektron-dropdown-menu .ektron-menu-right {
		width: auto;
	}
}
@media (max-width:767px) {
	body {
		padding: 0;
	}
	.container {
		margin: 0 20px;
	}
	.ektron-header .ektron-header-utility {
		height: 56px;
	}
	.ektron-header .ektron-header-utility .brand figure {
		margin: 0;
		float: left;
	}
	.ektron-header .ektron-header-utility .ektron-menu-toggle {
		margin-top: 10px;
	}
	.ektron-header .ektron-header-navigation {
		margin: 0;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container {
		margin: -10px 20px 20px 20px;
		padding: 10px;
		border: 2px solid #959595;
		border-radius: 10px;
		box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.5);
		position: absolute;
		z-index: 1000;
		background: white;
		right: 0;
		left: 0;
		display: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-navigation-search {
		display: block;
		float: none;
		text-align: center;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-navigation-search .ektron-search-input {
		width: 90%;
		display: inline;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse {
		display: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav {
		float: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li {
		float: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:link, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:visited {
		color: #ccc;
		font-size: 141.176470588%;
		line-height: 30px;
		text-transform: uppercase;
		margin-left: 0;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:hover, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:active, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a.open {
		color: #0a73b9;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu {
		position: relative;
		float: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full {
		width: 100%;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full .ektron-menu-middle-heading {
		display: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full .ektron-menu-middle ul {
		float: none;
		display: block;
	}
	.ektron-header .ektron-utility-search {
		display: none;
	}
	.ektron-header .ektron-navigation-search {
		display: block;
	}
	.ektron-utility-invert .ektron-utility-nav {
		text-indent: 10px;
		margin-top: 15px;
		font-weight: bold;
	}
	.ektron-utility-invert .ektron-utility-nav a:link, .ektron-utility-invert .ektron-utility-nav a:active, .ektron-utility-invert .ektron-utility-nav a:visited {
		color: #0a73b9;
	}
	.ektron-utility-invert .ektron-utility-nav a:hover {
		color: #58a4d4;
	}
	.ektron-utility-invert .ektron-utility-nav .ektron-utility-dropdown a:link, .ektron-utility-invert .ektron-utility-nav .ektron-utility-dropdown a:active, .ektron-utility-invert .ektron-utility-nav .ektron-utility-dropdown a:visited {
		color: #252525;
		font-weight: normal;
	}
	.ektron-utility-invert .ektron-utility-nav .ektron-utility-dropdown a:hover {
		color: #eee;
	}
	.ektron-icon-background {
		background: none;
	}
	.ektron-icon-background .ektron-inner-shadow-bottom:after {
		display: none;
	}
	.ektron-460-inner-shadow-top {
		position: relative;
		overflow: hidden;
	}
	.ektron-460-inner-shadow-top:before {
		content: "";
		display: block;
		position: absolute;
		top: -10px;
		left: 0px;
		width: 100%;
		height: 10px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		z-index: 1;
		-webkit-box-shadow: -1px 0 4px 3px #bfbfbf;
		box-shadow: -1px 0 4px 3px #bfbfbf;
	}
	.ektron-btn-convert-1 a, .ektron-btn-convert-2 a {
		position: relative;
		margin-top: 30px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after, .ektron-btn-convert-2 a:after, .ektron-btn-convert-2 a:hover:after {
		font-size: 13px;
		right: -19px;
		top: -28px;
		width: 175px;
	}
	.ektron-btn-convert-1 a:after, .ektron-btn-convert-1 a:hover:after {
		left: -16px;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before, .ektron-btn-convert-2 a:before, .ektron-btn-convert-2 a:hover:before {
		display: none;
		width: 56px;
		right: -58px;
		top: -18px;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-1 a:hover:before {
		left: -58px;
		width: 56px;
		top: -16px;
	}
	.ektron-460-half {
		min-width: 175px;
		width: 45%;
		margin-left: 5%;
		float: left;
	}
	.ektron-460-center {
		text-align: center;
	}
	.ektron-460-no-padding {
		padding: 0;
	}
	.ektron-460-no-margin {
		margin: 0;
	}
	.ektron-460-largest {
		font-size: 141.176470588%;
	}
	.ektron-724-span12 {
		max-width: 100%;
		width: auto;
	}
	.ektron-724-span6 {
		width: auto;
		max-width: 100%;
	}
	.ektron-724-float-widgets-50 {
		overflow: hidden;
	}
	.ektron-724-float-widgets-50 li.PBItem {
		width: 100%;
		float: none;
	}
	.ektron-724-float-widgets-50 li.PBItem>div {
		margin: 0 6.25%;
	}
	.ektron-724-float-widgets-50 li.PBItem:first-child>div {
		margin-left: 6.25%;
	}
	.ektron-summary-block .ektron-summary {
		padding-right: 0px;
	}
	.ektron-summary-block .ektron-summary .ektron-summary-image {
		float: none;
		margin-right: 0px;
		width: auto;
	}
	footer .ektron-contact-column {
		margin-left: 27.60869565217391%;
	}
	footer .ektron-footer-content h2 {
		font-size: 111.764705882%;
	}
	footer .ektron-footer-content p {
		font-size: 94.117647059%;
	}
}
@media (max-width:480px) {
	.ektron-content h1 {
		font-size: 30px;
		line-height: 36px;
	}
}
@media (max-width:430px) {
	.ektron-header .ektron-header-navigation .ektron-navigation-container {
		margin: -10px 20px 20px 20px;
		padding: 10px;
		border: 2px solid #959595;
		border-radius: 10px;
		box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.5);
		position: absolute;
		z-index: 1000;
		background: white;
		right: 0;
		left: 0;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-navigation-search {
		display: block;
		float: none;
		text-align: center;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-navigation-search .ektron-search-input {
		width: 90%;
		display: inline;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse {
		margin: 0;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav {
		float: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li {
		float: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:link, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:visited {
		color: #ccc;
		font-size: 141.176470588%;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:hover, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a:active, .ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li a.open {
		color: #0a73b9;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu {
		position: static;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full {
		width: 100%;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full .ektron-menu-middle {
		margin-left: 10px;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full .ektron-menu-middle-heading {
		display: none;
	}
	.ektron-header .ektron-header-navigation .ektron-navigation-container .ektron-nav-collapse ul.ektron-nav li .ektron-dropdown-menu .ektron-460-full .ektron-menu-middle ul {
		float: none;
		display: block;
		margin: 0;
	}
	.ektron-460-half {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.ektron-btn-convert-1, .ektron-btn-convert-2 {
		text-align: center;
	}
	.ektron-btn-convert-1 a:before, .ektron-btn-convert-2 a:before {
		display: none;
	}
}





ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 2px 2px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.tabcontent
{
    display: block;
}

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 2px 2px 2px;
}
